@keyframes fondo_h_f {
  0% {
<<<<<<< HEAD
    background: linear-gradient(122deg, #fedfdf 0%, #ffc3d6 5%, #ff9ebe 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  2% {
    background: linear-gradient(122deg, #ffc3d6 0%, #fedfdf 5%, #ffc3d6 10%, #ff9ebe 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  7% {
    background: linear-gradient(122deg, #fa6f9b 0%, #ffc3d6 5%, #fedfdf 10%, #ffc3d6 15%, #ff9ebe 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  12% {
    background: linear-gradient(122deg, #fa6f9b 0%, #ff9ebe 5%, #ffc3d6 10%, #fedfdf 15%, #ffc3d6 20%, #ff9ebe 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  17% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #ff9ebe 10%, #ffc3d6 15%, #fedfdf 20%, #ffc3d6 25%, #ff9ebe 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  22% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #ff9ebe 15%, #ffc3d6 20%, #fedfdf 25%, #ffc3d6 30%, #ff9ebe 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  27% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #ff9ebe 20%, #ffc3d6 25%, #fedfdf 30%, #ffc3d6 35%, #ff9ebe 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  32% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #ff9ebe 25%, #ffc3d6 30%, #fedfdf 35%, #ffc3d6 40%, #ff9ebe 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  37% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #ffc3d6 35%, #fedfdf 40%, #ffc3d6 45%, #ff9ebe 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  42% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #ffc3d6 40%, #fedfdf 45%, #ffc3d6 50%, #ff9ebe 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  47% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #ffc3d6 45%, #fedfdf 50%, #ffc3d6 55%, #ff9ebe 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  52% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #ffc3d6 50%, #fedfdf 55%, #ffc3d6 60%, #ff9ebe 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  57% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #ffc3d6 55%, #fedfdf 60%, #ffc3d6 65%, #ff9ebe 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  62% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #ffc3d6 60%, #fedfdf 65%, #ffc3d6 70%, #ff9ebe 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  67% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #ff9ebe 60%, #ffc3d6 65%, #fedfdf 70%, #ffc3d6 75%, #ff9ebe 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  72% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #ff9ebe 65%, #ffc3d6 70%, #fedfdf 75%, #ffc3d6 80%, #ff9ebe 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  77% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #ff9ebe 70%, #ffc3d6 75%, #fedfdf 80%, #ffc3d6 85%, #ff9ebe 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); }
  82% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #ff9ebe 75%, #ffc3d6 80%, #fedfdf 85%, #ffc3d6 90%, #ff9ebe 95%, #fa6f9b 95%, #fa6f9b 100%); }
  87% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #ff9ebe 80%, #ffc3d6 85%, #fedfdf 90%, #ffc3d6 95%, #ff9ebe 95%, #fa6f9b 100%); }
  92% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #ff9ebe 85%, #ffc3d6 90%, #fedfdf 95%, #ffc3d6 95%, #ff9ebe 100%); }
  97% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #ff9ebe 90%, #ffc3d6 95%, #fedfdf 95%, #ffc3d6 100%); }
  99% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #ff9ebe 95%, #ffc3d6 95%, #fedfdf 100%); }
  100% {
    background: linear-gradient(122deg, #fa6f9b 0%, #fa6f9b 5%, #fa6f9b 10%, #fa6f9b 15%, #fa6f9b 20%, #fa6f9b 25%, #fa6f9b 30%, #fa6f9b 35%, #fa6f9b 40%, #fa6f9b 45%, #fa6f9b 50%, #fa6f9b 55%, #fa6f9b 60%, #fa6f9b 65%, #fa6f9b 70%, #fa6f9b 75%, #fa6f9b 80%, #fa6f9b 85%, #fa6f9b 90%, #fa6f9b 95%, #fa6f9b 95%, #fa6f9b 100%); } }
=======
    background: linear-gradient(90deg, #005912 0%, #005912 10%, #00881c 20%, #00d42a 30%, #00d42a 40%, #00d42a 50%, #00d42a 60%, #00d42a 70%, #00d42a 80%, #00d42a 90%, #00d42a 100%); }
  10% {
    background: linear-gradient(90deg, #00881c 0%, #005912 10%, #005912 20%, #00881c 30%, #00d42a 40%, #00d42a 50%, #00d42a 60%, #00d42a 70%, #00d42a 80%, #00d42a 90%, #00d42a 100%); }
  20% {
    background: linear-gradient(90deg, #00d42a 0%, #00881c 10%, #005912 20%, #005912 30%, #00881c 40%, #00d42a 50%, #00d42a 60%, #00d42a 70%, #00d42a 80%, #00d42a 90%, #00d42a 100%); }
  30% {
    background: linear-gradient(90deg, #00d42a 0%, #00d42a 10%, #00881c 20%, #005912 30%, #005912 40%, #00881c 50%, #00d42a 60%, #00d42a 70%, #00d42a 80%, #00d42a 90%, #00d42a 100%); }
  40% {
    background: linear-gradient(90deg, #00d42a 0%, #00d42a 10%, #00d42a 20%, #00881c 30%, #005912 40%, #005912 50%, #00881c 60%, #00d42a 70%, #00d42a 80%, #00d42a 90%, #00d42a 100%); }
  50% {
    background: linear-gradient(90deg, #00d42a 0%, #00d42a 10%, #00d42a 20%, #00d42a 30%, #00881c 40%, #005912 50%, #005912 60%, #00881c 70%, #00d42a 80%, #00d42a 90%, #00d42a 100%); }
  60% {
    background: linear-gradient(90deg, #00d42a 0%, #00d42a 10%, #00d42a 20%, #00d42a 30%, #00d42a 40%, #00881c 50%, #005912 60%, #005912 70%, #00881c 80%, #00d42a 90%, #00d42a 100%); }
  70% {
    background: linear-gradient(90deg, #00d42a 0%, #00d42a 10%, #00d42a 20%, #00d42a 30%, #00d42a 40%, #00d42a 50%, #00881c 60%, #005912 70%, #005912 80%, #00881c 90%, #00d42a 100%); }
  80% {
    background: linear-gradient(90deg, #00d42a 0%, #00d42a 10%, #00d42a 20%, #00d42a 30%, #00d42a 40%, #00d42a 50%, #00d42a 60%, #00881c 70%, #005912 80%, #005912 90%, #00881c 100%); }
  90% {
    background: linear-gradient(90deg, #00d42a 0%, #00d42a 10%, #00d42a 20%, #00d42a 30%, #00d42a 40%, #00d42a 50%, #00d42a 60%, #00d42a 70%, #00881c 80%, #005912 90%, #005912 100%); }
  100% {
    background: linear-gradient(90deg, #00d42a 0%, #00d42a 10%, #00d42a 20%, #00d42a 30%, #00d42a 40%, #00d42a 50%, #00d42a 60%, #00d42a 70%, #00d42a 80%, #00881c 90%, #005912 100%); } }
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1

/*Inicio header*/
header {
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
<<<<<<< HEAD
  background-color: #fa6f9b;
  animation-name: fondo_h_f;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  z-index: 10; }
=======
  background-color: #00d92b;
  animation-name: fondo_h_f;
  animation-duration: 1.7s;
  animation-iteration-count: infinite; }
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1
  header li {
    margin: 5px; }
    header li a {
      padding: 5px 10px;
      font-size: 1rem;
      display: block;
      text-decoration: none;
<<<<<<< HEAD
      background-color: #ff3e7a;
=======
      background-color: #00e62e;
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1
      color: black;
      border-radius: 10px;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid black; }
      header li a:hover {
        color: white;
<<<<<<< HEAD
        background-color: #ff0050; }
=======
        background-color: #00851a; }
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1

/*Fin header*/
/*Inicio Footer*/
footer {
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
<<<<<<< HEAD
  background-color: #fa6f9b;
=======
  background-color: #00d92b;
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1
  animation-name: fondo_h_f;
  animation-duration: 1.7s;
  animation-iteration-count: infinite; }
  footer .divRedes {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "titulo titulo titulo"  "instagram facebook twitter"; }
    footer .divRedes .titulo {
      grid-area: titulo; }
    footer .divRedes .instagram {
      grid-area: instagram; }
    footer .divRedes .facebook {
      grid-area: facebook; }
    footer .divRedes .twitter {
      grid-area: twitter; }
    footer .divRedes a {
      text-decoration: none;
      color: black;
<<<<<<< HEAD
      background-color: #ff3e7a;
=======
      background-color: #00e62e;
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1
      border: 1px solid black;
      font-size: 1rem;
      border-radius: 50%;
      justify-self: center;
      width: 75%;
      line-height: 50px; }
      footer .divRedes a:hover {
        color: white;
<<<<<<< HEAD
        background-color: #ff0050; }
=======
        background-color: #00851a; }
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1
  footer .divCont {
    text-align: center; }
    footer .divCont p {
      text-decoration: underline; }

/*Fin Footer*/
<<<<<<< HEAD
body {
  font-family: 'Fredoka', sans-serif;
  background-color: #fa6f9b; }
=======
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Ubuntu', sans-serif; }

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #d61a57; }
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1

.imgLogo {
  width: 150px; }

.btnSub {
  margin-top: 30px;
  margin-left: 10px;
  color: black;
  background-color: #00e62e;
  text-transform: bold;
  font-size: 1rem;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  width: 20%; }
  .btnSub:hover {
    color: white;
    transform: scale(1.1);
    background: #00851a; }

main .secTurnos table .selecTurnos, main .secCon form .selectContacto {
  background-color: #00e62e;
  font-size: 1rem;
  text-align: center; }
<<<<<<< HEAD

main .titPrin, main .secInicio h2 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  text-shadow: 3px 3px 0px black, 2px 2px 0px black, 1px 1px 0px black;
  text-decoration: underline;
  letter-spacing: 1px; }

@media (min-width: 0) {
  main .secInicio p {
    font-size: 1rem; } }

@media (min-width: 480px) {
  main .secInicio p {
    font-size: 2rem; } }

@media (min-width: 720px) {
  main .secInicio p {
    font-size: 1.8rem; } }

@media (min-width: 960px) {
  main .secInicio p {
    font-size: 1.4rem; } }

@media (min-width: 1200px) {
  main .secInicio p {
    font-size: 1.2rem; } }
=======
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1

main {
  min-height: 90vh;
  background-image: url(https://f.vividscreen.info/soft/5fd8414f8b1962b432d5de9b502c2c71/Colorful-Nails-1920x1200.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding: 15px; }
<<<<<<< HEAD
=======
  main .titPrin {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px 0px black, 2px 2px 0px black, 1px 1px 0px black;
    text-decoration: underline;
    letter-spacing: 1px; }
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1
  main .secInicio {
    padding: 0px 30px; }
    main .secInicio p {
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      text-align: center;
      border-radius: 15px;
<<<<<<< HEAD
      padding: 15px; }
      main .secInicio p a {
        color: white; }
    @media (min-width: 480px) {
      main .secInicio h2 {
        color: pink; } }
    main .secInicio h5 {
      text-align: center; }
=======
      padding: 15px;
      font-size: 1.1rem; }
      main .secInicio p a {
        color: white; }
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1
  main .secNosotros {
    padding: 0px 5%; }
    main .secNosotros h2 {
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      text-align: center;
      width: 40%;
      border-radius: 15px; }
    main .secNosotros .divIframe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 15px; }
      main .secNosotros .divIframe iframe {
        max-width: 100%; }
    main .secNosotros .divMapa {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 15px; }
      main .secNosotros .divMapa img {
        width: 60%; }
<<<<<<< HEAD
  @media (min-width: 0) {
    main .secGal .divGal .foto {
      width: 90%; } }
  @media (min-width: 480px) {
    main .secGal .divGal .foto {
      width: 90%; } }
  @media (min-width: 720px) {
    main .secGal .divGal .foto {
      width: 85%; } }
  @media (min-width: 960px) {
    main .secGal .divGal .foto {
      width: 45%; } }
  @media (min-width: 1200px) {
    main .secGal .divGal .foto {
      width: 45%; } }
=======
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1
  main .secGal .divGal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
<<<<<<< HEAD
    main .secGal .divGal .foto {
      height: 350px;
      overflow: hidden;
      margin: 5px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 25px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      main .secGal .divGal .foto img {
        height: 100%;
        border-radius: 25px;
        transition: all 500ms ease; }
        main .secGal .divGal .foto img:hover {
          transform: scale(1.05); }
=======
    main .secGal .divGal img {
      margin: 5px 5px;
      width: max-content;
      transition: all 500ms ease;
      overflow: hidden; }
      main .secGal .divGal img:hover {
        transform: scale(1.1); }
>>>>>>> 4a2c78bc8668733fc298c22fe84a2cf53caa95b1
  main .secTurnos {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px; }
    main .secTurnos h2, main .secTurnos p, main .secTurnos th {
      color: white;
      text-align: center; }
    main .secTurnos form {
      padding: 30px;
      text-align: center; }
    main .secTurnos table {
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      text-align: center;
      border: 2px solid rgba(255, 255, 255, 0.9);
      margin: auto;
      width: 70%;
      padding: 15px;
      height: 15vh; }
      main .secTurnos table .selecTurnos {
        width: 40%; }
        main .secTurnos table .selecTurnos:hover {
          transform: scale(1.1); }
      main .secTurnos table tr {
        border-bottom: 1px solid white; }
  main .secCon form {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 15px;
    width: 50%;
    margin: auto; }
    main .secCon form legend, main .secCon form label {
      color: white;
      margin: 3px 0px 3px 15px; }
    main .secCon form input, main .secCon form textarea {
      margin: 5px;
      text-align: center;
      background-color: #00ff33;
      resize: none;
      border-radius: 25px; }
      main .secCon form input::placeholder, main .secCon form textarea::placeholder {
        color: rgba(0, 0, 0, 0.7); }
    main .secCon form .selectContacto {
      width: 9%;
      border-radius: 20px; }
      main .secCon form .selectContacto:hover {
        transform: scale(1.1); }
