@-webkit-keyframes fondo_h_f {
  0% {
    background: linear-gradient(90deg, rgb(0, 89, 18) 0%, rgb(0, 89, 18) 10%, rgb(0, 136, 28) 20%, rgb(0, 212, 42) 30%, rgb(0, 212, 42) 40%, rgb(0, 212, 42) 50%, rgb(0, 212, 42) 60%, rgb(0, 212, 42) 70%, rgb(0, 212, 42) 80%, rgb(0, 212, 42) 90%, rgb(0, 212, 42) 100%);
  }
  10% {
    background: linear-gradient(90deg, rgb(0, 136, 28) 0%, rgb(0, 89, 18) 10%, rgb(0, 89, 18) 20%, rgb(0, 136, 28) 30%, rgb(0, 212, 42) 40%, rgb(0, 212, 42) 50%, rgb(0, 212, 42) 60%, rgb(0, 212, 42) 70%, rgb(0, 212, 42) 80%, rgb(0, 212, 42) 90%, rgb(0, 212, 42) 100%);
  }
  20% {
    background: linear-gradient(90deg, rgb(0, 212, 42) 0%, rgb(0, 136, 28) 10%, rgb(0, 89, 18) 20%, rgb(0, 89, 18) 30%, rgb(0, 136, 28) 40%, rgb(0, 212, 42) 50%, rgb(0, 212, 42) 60%, rgb(0, 212, 42) 70%, rgb(0, 212, 42) 80%, rgb(0, 212, 42) 90%, rgb(0, 212, 42) 100%);
  }
  30% {
    background: linear-gradient(90deg, rgb(0, 212, 42) 0%, rgb(0, 212, 42) 10%, rgb(0, 136, 28) 20%, rgb(0, 89, 18) 30%, rgb(0, 89, 18) 40%, rgb(0, 136, 28) 50%, rgb(0, 212, 42) 60%, rgb(0, 212, 42) 70%, rgb(0, 212, 42) 80%, rgb(0, 212, 42) 90%, rgb(0, 212, 42) 100%);
  }
  40% {
    background: linear-gradient(90deg, rgb(0, 212, 42) 0%, rgb(0, 212, 42) 10%, rgb(0, 212, 42) 20%, rgb(0, 136, 28) 30%, rgb(0, 89, 18) 40%, rgb(0, 89, 18) 50%, rgb(0, 136, 28) 60%, rgb(0, 212, 42) 70%, rgb(0, 212, 42) 80%, rgb(0, 212, 42) 90%, rgb(0, 212, 42) 100%);
  }
  50% {
    background: linear-gradient(90deg, rgb(0, 212, 42) 0%, rgb(0, 212, 42) 10%, rgb(0, 212, 42) 20%, rgb(0, 212, 42) 30%, rgb(0, 136, 28) 40%, rgb(0, 89, 18) 50%, rgb(0, 89, 18) 60%, rgb(0, 136, 28) 70%, rgb(0, 212, 42) 80%, rgb(0, 212, 42) 90%, rgb(0, 212, 42) 100%);
  }
  60% {
    background: linear-gradient(90deg, rgb(0, 212, 42) 0%, rgb(0, 212, 42) 10%, rgb(0, 212, 42) 20%, rgb(0, 212, 42) 30%, rgb(0, 212, 42) 40%, rgb(0, 136, 28) 50%, rgb(0, 89, 18) 60%, rgb(0, 89, 18) 70%, rgb(0, 136, 28) 80%, rgb(0, 212, 42) 90%, rgb(0, 212, 42) 100%);
  }
  70% {
    background: linear-gradient(90deg, rgb(0, 212, 42) 0%, rgb(0, 212, 42) 10%, rgb(0, 212, 42) 20%, rgb(0, 212, 42) 30%, rgb(0, 212, 42) 40%, rgb(0, 212, 42) 50%, rgb(0, 136, 28) 60%, rgb(0, 89, 18) 70%, rgb(0, 89, 18) 80%, rgb(0, 136, 28) 90%, rgb(0, 212, 42) 100%);
  }
  80% {
    background: linear-gradient(90deg, rgb(0, 212, 42) 0%, rgb(0, 212, 42) 10%, rgb(0, 212, 42) 20%, rgb(0, 212, 42) 30%, rgb(0, 212, 42) 40%, rgb(0, 212, 42) 50%, rgb(0, 212, 42) 60%, rgb(0, 136, 28) 70%, rgb(0, 89, 18) 80%, rgb(0, 89, 18) 90%, rgb(0, 136, 28) 100%);
  }
  90% {
    background: linear-gradient(90deg, rgb(0, 212, 42) 0%, rgb(0, 212, 42) 10%, rgb(0, 212, 42) 20%, rgb(0, 212, 42) 30%, rgb(0, 212, 42) 40%, rgb(0, 212, 42) 50%, rgb(0, 212, 42) 60%, rgb(0, 212, 42) 70%, rgb(0, 136, 28) 80%, rgb(0, 89, 18) 90%, rgb(0, 89, 18) 100%);
  }
  100% {
    background: linear-gradient(90deg, rgb(0, 212, 42) 0%, rgb(0, 212, 42) 10%, rgb(0, 212, 42) 20%, rgb(0, 212, 42) 30%, rgb(0, 212, 42) 40%, rgb(0, 212, 42) 50%, rgb(0, 212, 42) 60%, rgb(0, 212, 42) 70%, rgb(0, 212, 42) 80%, rgb(0, 136, 28) 90%, rgb(0, 89, 18) 100%);
  }
}
/*Inicio header*/
header {
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #00d92b;
  -webkit-animation-name: fondo_h_f;
          animation-name: fondo_h_f;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
header li {
  margin: 5px;
}
header li a {
  padding: 5px 10px;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  background-color: #00e62e;
  color: black;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
}
header li a:hover {
  color: white;
  background-color: #00851a;
}

/*Fin header*/
/*Inicio Footer*/
footer {
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #00d92b;
  -webkit-animation-name: fondo_h_f;
          animation-name: fondo_h_f;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
footer .divRedes {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "titulo titulo titulo" "instagram facebook twitter";
}
footer .divRedes .titulo {
  grid-area: titulo;
}
footer .divRedes .instagram {
  grid-area: instagram;
}
footer .divRedes .facebook {
  grid-area: facebook;
}
footer .divRedes .twitter {
  grid-area: twitter;
}
footer .divRedes a {
  text-decoration: none;
  color: black;
  background-color: #00e62e;
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 50%;
  justify-self: center;
  width: 75%;
  line-height: 50px;
}
footer .divRedes a:hover {
  color: white;
  background-color: #00851a;
}
footer .divCont {
  text-align: center;
}
footer .divCont p {
  text-decoration: underline;
}

/*Fin Footer*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Fredoka", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

body {
  font-family: "Fredoka", sans-serif;
  background-color: #d61a57;
}

.imgLogo {
  width: 150px;
}

.btnSub {
  margin-top: 30px;
  margin-left: 10px;
  color: black;
  background-color: #00e62e;
  text-transform: bold;
  font-size: 1rem;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  width: 20%;
}
.btnSub:hover {
  color: white;
  transform: scale(1.1);
  background: #00851a;
}

main {
  min-height: 90vh;
  background-image: url(https://f.vividscreen.info/soft/5fd8414f8b1962b432d5de9b502c2c71/Colorful-Nails-1920x1200.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding: 15px;
}
main .titPrin {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  text-shadow: 3px 3px 0px black, 2px 2px 0px black, 1px 1px 0px black;
  text-decoration: underline;
  letter-spacing: 1px;
}
main .secInicio {
  padding: 0px 30px;
}
main .secInicio p {
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 15px;
  padding: 15px;
  font-size: 1.1rem;
}
main .secNosotros {
  padding: 0px 5%;
}
main .secNosotros h2 {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 40%;
  border-radius: 15px;
}
main .secNosotros .divIframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .secNosotros .divIframe iframe {
  max-width: 100%;
}
main .secNosotros .divMapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}
main .secNosotros .divMapa img {
  width: 60%;
}
main .secGal .divGal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .secGal .divGal img {
  margin: 5px 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: all 500ms ease;
  overflow: hidden;
}
main .secGal .divGal img:hover {
  transform: scale(1.1);
}
main .secTurnos {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}
main .secTurnos h2, main .secTurnos p, main .secTurnos th {
  color: white;
  text-align: center;
}
main .secTurnos form {
  padding: 30px;
  text-align: center;
}
main .secTurnos table {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.9);
  margin: auto;
  width: 70%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  height: 15vh;
}
main .secTurnos table select {
  background-color: #00e62e;
  font-size: 1rem;
  text-align: center;
  width: 40%;
}
main .secTurnos table select:hover {
  transform: scale(1.1);
}
main .secTurnos table tr {
  border-bottom: 1px solid white;
}
main .secCon form {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 15px;
  width: 50%;
  margin: auto;
}
main .secCon form legend, main .secCon form label {
  color: white;
  margin: 3px 0px 3px 15px;
}
main .secCon form input, main .secCon form textarea {
  margin: 5px;
  text-align: center;
  background-color: #00ff33;
  resize: none;
  border-radius: 25px;
}
main .secCon form input::-moz-placeholder, main .secCon form textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
main .secCon form input:-ms-input-placeholder, main .secCon form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
main .secCon form input::placeholder, main .secCon form textarea::placeholder {
  color: rgba(0, 0, 0, 0.7);
}
main .secCon form select {
  background-color: #00e62e;
  font-size: 1rem;
  text-align: center;
  width: 9%;
  border-radius: 20px;
}
main .secCon form select:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=estilos.css.map */